<li id="<%= comment.id %>" class="media">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user, class: "media-left" %>
  <div class="media-body">
    <div class="media-heading">
      <span class="user">
        <%= link_to comment.user.name, comment.user %>
      </span>
    </div>
    <div class="media-info">
      <span class="timestamp"><%= time_ago_in_words(comment.created_at) %></span>
      <% if current_user?(comment.user) || current_user?(comment.micropost.user) %>
        <%= link_to comment, method: :delete, data: { confirm: "You sure?" } do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
    <div class="media-content">
      <%= comment.content %>
    </div>
  </div>
</li>
