<%= form_for([@micropost, @comment], html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Comment this post..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
