<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user, class: user.activated ? "activated_user" : "unactivated_user" %>
  <% if current_user.admin? && !current_user?(user) %>
    <div class="user_control">
      <%= link_to user, method: :delete, data: { confirm: "You sure?" } do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
      <span class="glyphicon glyphicon-time"></span>
      <%= time_ago_in_words(user.created_at) %> ago
    </div>
  <% end %>
</li>
