<li id="<%= micropost.id %>" class="media">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user, class: "media-left" %>
  <div class="media-body">
    <div class="media-heading">
      <span class="user">
        <%= link_to micropost.user.name, micropost.user %>
      </span>
      <%= link_to micropost do %>
        <span class="post-title">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <%= micropost.title unless micropost.title.nil? %>
        </span>
      <% end %>
    </div>
    <div class="media-info">
      <span class="timestamp"><%= time_ago_in_words(micropost.created_at) %></span>
      <% if current_user?(micropost.user) %>
        <%= link_to micropost, method: :delete, data: { confirm: "You sure?" } do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
    <div class="media-content">
      <%= micropost.content %>
      <%= image_tag micropost.picture.url if micropost.picture? %>
    </div>
    <div class="media-comment">
      <div class="media-comment-info">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        View <%= pluralize micropost.comments.count, "comment" %>
      </div>
      <% if @show_comment %>
        <ol class="comments">
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
      <% end %>
    </div>
  </div>
</li>
