<% provide(:title, @micropost.title) %>

<div class="row">
  <% if logged_in? %>
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'users/info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="comment_form">
        <%= render 'comments/form' %>
      </section>
    </aside>
  <% end %>
  <div class="col-md-8">
    <h3>Micropost #<%= @micropost.id %></h3>
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
  </div>
</div>
